<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>СтройВверх39</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    @RenderSection("Css", required: false)
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym");

        ym(69470179, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-240H3HWQ7D"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-240H3HWQ7D');
    </script>
</head>
<body>    
    <!-- Окно входа в аккаунт -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div id="tabs" class="modal-content">
                <div class="modal-close">
                    <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-header">
                    <div class="container">
                        <h5 class="text-center">Форма заказа</h5>
                        <div class="container text-center">
                            <a href="tel:74012901910"><i class="fas fa-phone"></i><span> +7 4012 901-910</span></a>
                        </div>
                    </div>
                </div>
                <div class="modal-form">
                    <div class="container">
                        <form method="post" asp-action="SendMessage" asp-controller="Home">
                            <div class="form-group">
                                <label for="Name">Ваше имя:</label>
                                <input required type="text" maxlength="30" name="Name" class="form-control" id="name" placeholder="Как к вам обращаться?">
                            </div>
                            <div class="form-group">
                                <label for="Email">E-mail:</label>
                                <input required type="email" name="Email" maxlength="75" class="form-control" id="Email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="Phone">Номер телефона:</label>
                                <input required type="tel" maxlength="15" name="Phone" class="form-control" id="Phone" placeholder="Телефон">
                            </div>
                            <div class="form-group">
                                <label for="Description">Сообщение:</label>
                                <textarea required maxlength="500" class="form-control" name="Description" rows="3" placeholder="Введите сообщение"></textarea>
                            </div>
                            <div class="container text-center pb-3">
                                <button type="submit" class="btn btn-info">Заказать</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="header">
        <div class="header__head container-fluid">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xl-4 header__head__image">
                        <img src="~/Images/logo.png" alt="logo">
                    </div>
                    <div class="col-xl-8">
                        <nav class="navbar navbar-expand-xl w-100">
                            <div class="navbar-brand socialNetworks">
                                <div class="d-flex flex-column">
                                    <div class="container p-0">
                                        <div class="row">
                                            <div class="col-xl-6 col p-0">
                                                <a href="https://vk.com/club157721479"><i class="fab fa-vk"></i></a>
                                            </div>
                                            <div class="col-xl-6 col p-0">
                                                <a href="https://instagram.com/stroyvverx39"><i class="fab fa-instagram"></i></a>
                                            </div>
                                            <div class="col-xl-6 col p-0">
                                                <a href="https://wa.me/79082901910"><i class="fab fa-whatsapp"></i></a>
                                            </div>
                                            <div class="col-xl-6 col p-0">
                                                <a href="viber://chat?number=%2B79082901910"><i class="fab fa-viber"></i></a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                <span><i class="fas fa-angle-down"></i></span>
                            </button>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <h5>Аренда спецтехники в Калининграде и Калининградской области</h5>
                                    </div>
                                    <div class="contakts col-xl-6">
                                        <div>
                                            <a href="tel:74012901910"><i class="fa fa-phone"></i> <span>+7 4012 901-910</span></a>
                                        </div>
                                        <div>
                                            <a href="mailto:kononovich_max@mail.ru"><span>kononovich_max@mail.ru</span></a>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 collapse navbar-collapse text-center" id="navbarNavAltMarkup">
                                        <div class="navbar-nav container">
                                            <a class="col btn nav-item nav-link active" asp-action="Index" asp-controller="Home">Главная<span class="sr-only">(current)</span></a>
                                            <a class="col btn nav-item nav-link" href="~/#machineryItems">Каталог спецтехники</a>
                                            <a class="col btn nav-item nav-link" asp-action="gallery" asp-controller="Home">Галерея</a>
                                            <a class="col btn nav-item nav-link" href="~/#contaktCompany">Контакты</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="header__inform container">
                <ul class="header__inform__menu">
                    <li><h3>- Грамотный подбор техники по телефону, при необходимости выезд на объект</h3></li>
                    <li><h3>- Скидки для постоянных клиентов на долгосрочные объекты</h3></li>
                    <li><h3>- Работаем в выходные и праздничные дни</h3></li>
                    <li><h3>- Наличный и безналичный расчет</h3></li>
                </ul>
                <div class="text-center">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
                        Оставить заявку
                    </button>
                </div>
            </div>
        </div>

    </section>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="myfooter border-top">
        <div class="container text-center">
            <p>© 2015-2020 ИП Кононович Максим Алексеевич</p>
            <p class="myfooter__phone"><a href="tel:74012901910"><i class="fa fa-phone"></i> <span>+7 4012 901-910</span></a></p>
            <p>Пн — Вс: круглосуточно</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
