html, body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-image: url(../Images/phone.jpg);
    background-size: cover;
    color: white;
}

    .header nav {
        box-shadow: none;
    }

.header__head .btn:hover {
    color: #efbc00;
}

.header__head .contakts span {
    font-size: 24px;
}

.socialNetworks {
    font-size: 44px;
}

/* Номер телефона мигающий */
#blink {
 
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    animation: blur .75s ease-out infinite;
    text-shadow: 0 0 5px #abc, 0 0 7px #abc;
}

@keyframes blur {
    from {
        text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7B96B8, 0px 0px 150px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px -10px 100px #7B96B8, 0px -10px 100px #7B96B8;
    }
}


    .navbar button i {
        font-size: 42px;
    }

    .fa {
        color: white;
    }

    .fa-angle-down {
        color: white;
    }

    .modal-header a span {
        font-size: 24px;
    }


    .header__head a {
        color: white;
    }

    .header__head .navbar {
        background: transparent;
        border: none;
    }


    .header__head__image img {
        width: 100%;
        height: 100%;
    }

    .header__inform__menu {
        padding-top: 10px;
    }

    .socialNetworks__icon {
        height: 45px;
        width: 45px;
    }

    .navbar-toggler img {
        height: 50px;
        width: 50px;
    }

    .header__inform {
        margin-top: 30px;
        background-color: rgba(0,0,0,.3);
        padding-bottom: 20px;
    }

    .header__inform h1 {
        padding-top: 10px;
        font-size: 24px;
    }

    .header__inform__menu h3 {
        font-size: 18px;
    }
    /* Секция о компании */
    .about {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /* Секция услуг техники */
    .Machinery__description {
        margin-bottom: 20px;
    }

    .Machinery__items h2 {
        padding-bottom: 0px;
    }



    .item__card {
        margin-bottom: 20px;
        padding: 20px;
        background: #f6efd8;
        border-radius: 50px;
    }



    .item__card__name h3 {
        margin-top: 10px;
        font-size: 20px;
    }

    .item__card__subtitle h4 {
        font-size: 18px;
    }

    .item__card__price h5 {
        font-size: 18px;
    }

    .item__card__poster img {
        width: 100%;
        height: 200px;
    }
    /* Секция контактов организации */
    .contaktCompany {
        margin-top: 20px;
    }
    /* Футер */
    .myfooter {
        padding-top: 20px;
        margin-top: 30px;
        height: 155px;
        background: black;
        color: white;
    }

    .socialNetworks a {
        margin-right: 20px;
    }

    .socialNetworks .col {
        width: 35px;
    }
    /* Медиа запросы */
    /* Медиа запросы к мобильным устройствам */
    .myfooter__phone span {
        font-size: 22px;
    }



    @media screen and (max-width: 767.98px) {
        .socialNetworks a {
        margin-right: 30px;
    }

    .socialNetworks {
        margin-right: 20px;
    }

        .socialNetworks .col {
            width: 55px;
        }
}
